body {
  margin: 0;
  background-color: #202020;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  margin-left: 8px;
  margin-right: 8px;
}

.logo {
  display: block; 
  object-fit: cover; 
  object-position: center; 
  margin-left: auto;
  margin-right: auto;
  height: 850px;
  width: 850px;
}

.album-image {
  display: block; 
  height: 350px; 
  width: 350px; 
  object-fit: cover; 
  object-position: center; 
  margin-left: auto;
  margin-right: auto;
}

.albums-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.album-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.album-title {
  color: gainsboro;
  font-style: italic;
}

.album-artist {
  color: gainsboro;
  margin-top: -10px;
}

.footer{
  color: gainsboro;
}

.navbar {
  background-color: gainsboro;
  font-size: large;
  padding: 15px;
}

.navlinks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.navlink-li {
  display: inline;
  margin: 25px;
  text-align: center;
  padding: 15px;
}

.navlink-li:hover {
  background-color: #202020;
  color:gainsboro;
}

.navlink-item {
  color:black;
  text-decoration: none;
}
