body {
  margin: 0;
  background-color: #202020;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  margin-left: 8px;
  margin-right: 8px;
}

.logo {
  display: block; 
  object-fit: cover; 
  object-position: center; 
  margin-left: auto;
  margin-right: auto;
  height: 850px;
  width: 850px;
}

.album-image {
  display: block; 
  height: 350px; 
  width: 350px; 
  object-fit: cover; 
  object-position: center; 
  margin-left: auto;
  margin-right: auto;
}

.albums-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.album-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.album-title {
  color: ghostwhite;
  font-style: italic;
}

.album-artist {
  color: ghostwhite;
  margin-top: -10px;
}

.footer{
  color: ghostwhite;
}

.navbar {
  background-color: ghostwhite;
  font-size: large;
  padding: 15px;
}

.navlinks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.navlink-li {
  display: inline;
  margin: 25px;
  text-align: center;
  padding: 15px;
}

.navlink-li:hover {
  background-color: steelblue;
  color:ghostwhite;
  transition: 0.3s;
}

.navlink-item {
  color:black;
  text-decoration: none;
}

.form {
  margin-top: 75px;
}

input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: ghostwhite;
  border-radius: 4px;
}

select {
  width: 60%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: ghostwhite;
}

.albums-container {
  margin-top: 100px;
}

input[type=button], input[type=submit] {
  background-color:ghostwhite;
  border: none;
  border-radius: 4px;
  /* color: white; */
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button], input[type=submit]:hover {
  background-color:steelblue;
  transition: 0.3s;
}