body {
  margin: 0;
  background-color: #202020;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  display: block; 
  object-fit: cover; 
  object-position: center; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.album-image {
  display: block; 
  height: 350px; 
  width: 350px; 
  object-fit: cover; 
  object-position: center; 
  margin-left: auto;
  margin-right: auto;
}

.albums-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.album-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.album-title {
  color: gainsboro;
  font-style: italic;
}

.album-artist {
  color: gainsboro;
}

